version: "3.8"
services:
  web:
    image: registry.cn-hangzhou.aliyuncs.com/midd/nginx:1.19.2
    networks: 
    - emc
    volumes:
     - /opt/nginx/nginx.conf:/etc/nginx/nginx.conf
     - /opt/nginx/conf.d:/etc/nginx/conf.d
     - /opt/nginx/html:/usr/share/nginx/html
    ports:
     - "80:80"
    depends_on:
    - varnish
    environment:
     - NGINX_HOST=emc.com
     - NGINX_PORT=80

  varnish:
    image: registry.cn-hangzhou.aliyuncs.com/plone/varnish:4.1
    networks: 
    - emc
    ports:
    - "6081:6081"
    - "6082:6082"
    depends_on:
    - haproxy

    environment:
      BACKENDS: "haproxy"
      BACKENDS_PORT: "5000"
      DNS_ENABLED: "true"
      BACKENDS_PROBE_INTERVAL: "3s"
      BACKENDS_PROBE_TIMEOUT: "1s"
      BACKENDS_PROBE_WINDOW: "3"
      BACKENDS_PROBE_THRESHOLD: "2"
      DASHBOARD_USER: "admin"
      DASHBOARD_PASSWORD: "admin"
      DASHBOARD_SERVERS: "varnish"
      DASHBOARD_DNS_ENABLED: "true"

  haproxy:
    image: registry.cn-hangzhou.aliyuncs.com/midd/haproxy:1.8.22
    networks: 
    - emc
    ports:
    - 8080:5000
    - 1936:1936
    depends_on:
    - plone
    environment:
      BACKENDS: "plone"
      BACKENDS_PORT: "8080"
      DNS_ENABLED: "True"

  plone:
    image: registry.cn-hangzhou.aliyuncs.com/plone/plone516-emc:6.0
    networks: 
    - emc
    depends_on:
    - zeoserver
    - oracledb
    environment:
    - ZEO_ADDRESS=zeoserver:8080
    - CORS_ALLOW_ORIGIN=*
    - SET_CONTAINER_TIMEZONE=true
    - CONTAINER_TIMEZONE=Asia/Shanghai
  zeoserver:
    image: registry.cn-hangzhou.aliyuncs.com/plone/plone516-emc:6.0
    networks: 
    - emc
    ports:
    - 8200:8080
    command: zeo
    volumes:
    - data:/data

  oracledb:
    image: registry.cn-hangzhou.aliyuncs.com/oracle-db/oracledb:12.2.0.1-se2
    networks: 
    - emc

    volumes:
      - /opt/oracle/oradata:/opt/oracle/oradata # persistent oracle database data.
    ports:
      - 1521:1521
      - 8380:8080
      - 5500:5500

networks:
  emc:

volumes:
  data:
